:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
}

header {
  margin: 20px auto;
}

header,
main {
  width: 800px;
  position: relative;
}

nav,
main {
  margin: auto;
  background-color: #4b4b4b;
}

main {
  height: 800px;
}

.nav-container {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
}

a,
a:link,
a:visited,
a:hover {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px 20px;
}

.section-container {
  width: 100px;
  height: 760px;
  background-color: white;
  display: flex;
  flex-flow: column;
}

.section-container a {
  color: black;
}

.thumbnail {
  width: 670px;
  height: 670px;
  position: absolute;
  top: 30px;
  left: 100px;
  display: flex;
  flex-wrap: wrap;
}

.tbnail-container {
  width: 200px;
  height: 150px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 110px;
  background-color: black;
  margin: 10px 10px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.title-container {
  width: 200px;
  padding: 5px 0;
  font-size: 1rem;
  line-height: 1rem;
  background-color: #1a1a1a;
}
